<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shiopping List</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <button class="btn btn-primary" v-if="state === 'default'" @click="setState('edit')">Add Item</button>
            <button class="btn btn-cancel" v-else @click="setState('default')">Cancel</button>
        </div>
        <div class="add-item-form" v-if="state === 'edit'">
            <input v-model="newItem" type="text" placeholder="Add new item" @keyup.enter="saveItem">
            <button class="btn btn-primary" @click="saveItem" :disabled="newItem.length === 0">Save</button>
        </div>
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
        <p v-if="items.length === 0">Empty!</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        var shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: 'My sopping list',
                newItem : "",
                items: [
                    'item 1',
                    'item 2',
                    'item 3',
                ]
            },
            methods: {
                saveItem : function() {
                    this.items.push(this.newItem);
                    this.newItem = '';
                },
                setState : function(value) {
                    this.state = value;
                    this.newItem = '';
                }
            }
        })
    </script>
</body>
</html>
