<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shiopping List</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <div id="shopping-list">
        <div v-if="countItemsTotal > 0">
            <span>Total: {{ countItemsTotal }}</span>, 
            <span>Purchased: {{ countItemsPurchased }}</span>, 
            <span>Hi-Priority: {{ countItemsPriority }}</span>, 
        </div>
        <div v-if="countItemsTotal > 0">
            <span>Show:</span> 
            <ul>
                <li @click="setFilterBy('default')" :class="{active: filterBy === 'default'}"><a>All</a></li>
                <li @click="setFilterBy('purchased')" :class="{active: filterBy === 'purchased'}"><a>Purchased</a></li>
                <li @click="setFilterBy('priority')" :class="{active: filterBy === 'priority'}"><a>Top-Priority</a></li>
            </ul>
        </div>
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <button class="btn btn-primary" v-if="state === 'default'" @click="setState('edit')">Add Item</button>
            <button class="btn btn-cancel" v-else @click="setState('default')">Cancel</button>
        </div>
        <input v-model.trim="searchString" type="text" placeholder="Search..." @keyup.enter="searchItems">
        <div class="add-item-form" v-if="state === 'edit'">
            <form @submit="saveItem">
                <input v-model.trim="newItem" type="text" placeholder="Add new item" @keyup.enter="saveItem">
                <button class="btn btn-primary" @click="saveItem" :disabled="newItem.length === 0">Save</button>
            </form>
			<div v-if="form_errors.length" @click="cleanFormErrors">
				<ul>
					<li v-for="error in form_errors">{{ error }}</li>
				</ul>
			</div>
        </div>
        <ul>
            <li v-for="item in itemsFilteredBy" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li>
        </ul>
        <p v-if="items.length === 0">Empty!</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        var shoppingList = new Vue({
            el: '#shopping-list',
            created: function() {
            },
            data: {
                form_errors : [],
                state: 'default',
                header: 'My shopping list',
                newItem : '',
                filterBy: 'default',
                searchString : '',
                items: [ 
                    {
                        label : 'Item 1',
                        purchased : false,
                        priority : false,
                    },
                    {
                        label : 'Item 2',
                        purchased : true,
                        priority : true,
                    },
                    {
                        label : 'Item 3',
                        purchased : false,
                        priority : true,
                    },
                ]
            },
            methods: {
                validateForm : function(e) {
                    this.cleanFormErrors();
					if (this.newItem && this.newItem.trim()) {
						return true;
					}

                    this.form_errors.push('This field required');
                    return false;
                },
                saveItem : function(e) {
                    if (this.validateForm(e)) {
                        this.items.push(
                            {
                                label: this.newItem,
                                purchased: false
                            }
                        );
                        this.newItem = '';
                    }

                    e.preventDefault();
                },
                cleanFormErrors : function() {
                    this.form_errors = [];
                },
                setState : function(value) {
                    this.state = value;
                    this.newItem = '';
                },
                setFilterBy: function(value) {
                    this.filterBy = value;
                },
                togglePurchased : function (item) {
                    item.purchased = !item.purchased;
                },
                togglePriority : function (item) {
                    item.priority = !item.priority;
                },
                setSearchString : function(value) {
                    this.searchString = value;
                }
            },
            computed : {
                countItemsTotal : function() {
                    return this.items.length;
                },
                countItemsPurchased : function() {
                    return this.items.filter(function(item) {
                        return item.purchased;
                    }).length;
                },
                countItemsPriority : function() {
                    return this.items.filter(function(item) {
                        return item.priority;
                    }).length;
                },
                itemsFilteredBy : function() {
                    var self = this;
                    var items = self.items;

                    if (this.searchString && this.searchString.trim()) {
                        var s = this.searchString.trim().toLowerCase();
                        items = items.filter(function(item) {
                            return item.label.toLowerCase().indexOf(s) !== -1;
                        });
                    }

                    if (this.filterBy == 'default') {
                        return items;
                    } else {
                        items = items.filter(function(item) {
                            return item[self.filterBy];
                        });
                    }

                    return items;
                }
            }
        })
    </script>
</body>
</html>
